			<section id="contact" class="container col-lg-8 col-md-8 col-sm-8 col-xs-12">
				<div class="panel">
					<div class="row">
						<div class="panel-body">
							<form role="form-control">First name: 
		  							<input class="form-control text-white" type="text" name="firstname" >
		  							<br>
		 							Last name: <br>
		  							<input class="form-control" type="text" name="lastname">
		  							<br>
									Message: <br>
									<textarea class="form-control" name="message" style="height: 150px;"></textarea>
									<br>
		  							<input class="submit" type="submit" value="Submit">
		  							<br>
							</form>
						</div>
					</div>
				</div>
			</section>