<section id="portfolio" class="container col-lg-8 col-md-8 col-sm-8 col-xs-12">
				<div class="panel">
					<div class="row">
						<div id="portfolio" class="panel-body">
							<h2 class="page-header col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
								Portfolio
							</h2>
							<div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">	
								<div id="relative" class="col-lg-6 col-md-6">
									<a href="https://burgeryummy.herokuapp.com/" target="_blank"><img class="portfolioImage" src="assets/images/burger.png" alt="burgeryummy"></a>
								</div>
								<div id="absolute" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="">
										<h3>Burger Yummy</h3>
									</div>
								</div>
							</div>
							{{!-- <div class="text-center col-lg-6 col-md-6 col-sm-12 col-xs-12">	
								<div id="relative">
									<a href="https://friend-finder-tloiola.herokuapp.com/" target="_blank"><img class="portfolioImage img img-rounded bounce" src="assets/images/friend_finder.png" alt="friend_finder"></a>
								</div>
								<div id="absolute" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="">
										<h3>Friend Finder</h3>
									</div>
								</div>
							</div>
							<div class="text-center col-lg-6 col-md-6 col-sm-12 col-xs-12">	
								<div id="relative">
									<a href="https://starwars-tloiola.herokuapp.com/" target="_blank"><img class="portfolioImage img img-rounded bounce" src="assets/images/starwars_express.png" alt="starwars_express"></a>
								</div>
								<div id="absolute" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="">
										<h3>StarWars Express</h3>
									</div>
								</div>
							</div>
							<div class="text-center col-lg-6 col-md-6 col-sm-12 col-xs-12 ">	
								<div>
									<a id="relative" href="https://tloiola1.github.io/OffSeason/" target="_blank"><img class="portfolioImage img img-rounded bounce" src="assets/images/off_season.png" alt="off_season"></a>
								</div>

								<div id="absolute" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<h3>Off Season</h3>
								</div>
							</div>

							<div class="text-center col-lg-6 col-md-6 col-sm-12 col-xs-12 ">	
								<div>
									<a id="relative" href="https://tloiola1.github.io/Train-Scheduler/" target="_blank"><img class="portfolioImage img img-rounded bounce" src="assets/images/train_scheduler.png" alt="train_scheduler"></a>
								</div>

								<div id="absolute" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<h3>Train Scheduler</h3>
								</div>
							</div>

							<div class="text-center col-lg-6 col-md-6 col-sm-12 col-xs-12 ">	
								<div>
									<a id="relative" href="https://tloiola1.github.io/week-6-AJAX/" target="_blank"><img class="portfolioImage img img-rounded bounce" src="assets/images/gif_generator.png" alt="gif_genarator"></a>
								</div>

								<div id="absolute" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<h3>Gif Generator</h3>
								</div>
							</div>

							<div class="text-center col-lg-6 col-md-6 col-sm-12 col-xs-12">	
								<div id="relative">
									<a href=" https://tloiola1.github.io/week-4-game/" target="_blank"><img class="portfolioImage img img-rounded bounce" src="assets/images/crystalsCollector.png" alt="crystalsCollector"></a>
								</div>
								<div id="absolute" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="">
										<h3>Crystals Collector</h3>
									</div>
								</div>
							</div>
							<div class="text-center col-lg-6 col-md-6 col-sm-12 col-xs-12 ">	
								<div>
									<a href="https://tloiola1.github.io/week-4-game-2/" target="_blank" id="relative"><img class="portfolioImage img img-rounded bounce" src="assets/images/starWarsRPG.png" alt="starWarsRPG"></a>
								</div>

								<div id="absolute" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<h3>Star Wars RPG</h3>
								</div>
							</div>

							<div class="text-center col-lg-6 col-md-6 col-sm-12 col-xs-12">	
								<div id="relative">
									<a href="https://tloiola1.github.io/TriviaGame-Advanced/" target="_blank"><img class="portfolioImage img img-rounded bounce" src="assets/images/triviaGame.png" alt="triviaGame"></a>
								</div>
								<div id="absolute" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="">
										<h3>Trivia Game</h3>
									</div>
								</div>
							</div> --}}

						</div>
					</div>
				</div>
			</section>

