<div id="home" class="container">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="page-header">
					Home
				</h2>
				<hr>
				<p class="text-justify">
					Thanks for visiting my Website.<br>Go ahead and visit my links on the top righ corner while I work on my '/' window location.
				</p>
			</div>

		</div>
	</div>
</div>