<div id="portfolio" class="container">
	<div class="col-lg-12"></div>
	<h2 class="page-header col-lg-12 col-md-12 col-sm-12 col-sm-12">
		Portfolio
	</h2>
	<hr>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<a href="http://burgeryummy.herokuapp.com/" target="_blank">
				<img class="portfolio-img col-lg-12" src="assets/images/burger.png" alt="burgeryummy">
				<div class="col-lg-12">
					<p>Burger Yummy</p>
				</div>
			</a>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
			<a href="https://friend-finder-tloiola.herokuapp.com/" target="_blank">
				<img class="portfolio-img col-lg-12" src="assets/images/friend_finder.png" alt="friend_finder">
				<div class="col-lg-12">
					<p>Friend Finder</p>
				</div>
			</a>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
			<a href="https://starwars-tloiola.herokuapp.com/" target="_blank">
				<img class="portfolio-img col-lg-12" src="assets/images/starwars_express.png" alt="friend_finder">
				<div class="col-lg-12">
					<p>StarWars Express</p>
				</div>
			</a>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
			<a href="https://tloiola1.github.io/OffSeason/" target="_blank">
				<img class="portfolio-img col-lg-12" src="assets/images/off_season.png" alt="off_season">
				<div class="col-lg-12">
					<p>Off Season</p>
				</div>
			</a>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
			<a href="https://tloiola1.github.io/Train-Scheduler/" target="_blank">
				<img class="portfolio-img col-lg-12" src="assets/images/train_scheduler.png" alt="train_scheduler">
				<div class="col-lg-12">
					<p>Train Scheduler</p>
				</div>
			</a>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
			<a href="https://tloiola1.github.io/week-6-AJAX/" target="_blank">
				<img class="portfolio-img col-lg-12" src="assets/images/gif_generator.png" alt="gif_genarator">
				<div class="col-lg-12">
					<p>Gif Generator</p>
				</div>
			</a>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
			<a href="https://tloiola1.github.io/week-4-game/" target="_blank">
				<img class="portfolio-img col-lg-12" src="assets/images/crystalsCollector.png" alt="crystalsCollector">
				<div class="col-lg-12">
					<p>Crystals Collector</p>
				</div>
			</a>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
			<a href="https://tloiola1.github.io/week-4-game-2/" target="_blank">
				<img class="portfolio-img col-lg-12" src="assets/images/starWarsRPG.png" alt="starWarsRPG">
				<div class="col-lg-12">
					<p>Star Wars RPG</p>
				</div>
			</a>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
			<a href="https://tloiola1.github.io/TriviaGame-Advanced/" target="_blank">
				<img class="portfolio-img col-lg-12" src="assets/images/triviaGame.png" alt="triviaGame">
				<div class="col-lg-12">
					<p>Trivia Game</p>
				</div>
			</a>
		</div>
	</div>
</div>