html, body{
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
	min-height: 100%;
	margin-bottom: 0;
    background: fixed no-repeat url(../images/back1.jpg);
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.container{
	width: 80%;
}
.row{
	margin: 0px;
}
/*---------------Header-------------------------*/
/*Seting the navbar opacity*/
.opacity{
	opacity: .9;
}
/*my Logo */
.logo{
	position: fixed;
	width: inherit;
	height: inherit;
	color: #039be5;
	padding: 10px;
	font-size: 300%;
	text-shadow: 1px 2px 9px #616161;
	font-weight: bolder;
	letter-spacing: -5px;
}
.small-logo{
	font-size: 30px;
}
/*Menu options top right corner*/
.menu-bar{
	float: right;
	font-size: 25px;
	letter-spacing: normal;
	text-shadow: none;
	display: inline-flex;
}

.about-me, .my-portfolio, .contact-me{
	margin-right: 5px;
	margin-left: 5px;
	padding: 10px;
	padding-top: 20px;
	height: 50px;
}
a{
	height: 50px;
}
a:hover{
	color: #0091ea;
}

/*------------------------------------------------*/
/*--------------Main Content----------------------*/
main{
	flex: 1 0 auto;
}
.my-image{
	width:200px;
	height: 200px;
	border-radius: 50%;
	border:1px solid #616161;
	margin-top: 100px;
}
/*------------------About Me Section----------------*/
.card{
	margin: 0px
}
.section-div{
	/*transition: opacity 1s ease;*/
}
.about-me-section{
	/*position: relative;*/
    /*transition: transform 0.9s;*/
    /*border: 15px solid rgba(128,128,128,.4);*/
    /*background-clip: padding-box;*/
 }

 .is-moved-about{
 	transform: translateX(-150%);
 }


/*--------------------------------------------------*/


/*------------------My Portfolio Section----------------*/
/*--------------------------------------------------*/


/*------------------Contact Me Section----------------*/
/*--------------------------------------------------*/

.in,.fcc,.git{
	width: 50px;
	height: 50px;
	border-radius: 10px;
}












/*------------------------------------------------*/
/*-----------------Footer-------------------------*/


footer.page-footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 0px;
	height: 20px;
	background-color: #039be5 !important;
	margin-top: 10px;
}
.small-footer{
	font-size: 12px;
	font-weight: bolder;
	padding: 0px;
	color: #424242;
}

/*------------------------------------------------*/
